pandas>=2.0
pyyaml>=6.0
pandas-ta>=0.4
yfinance>=0.2
prettytable>=3.0
tqdm>=4.60
lxml
pytz
streamlit>=1.28
plotly>=5.15
kaleido>=0.2
TA-Lib>=0.6
yf-cache @ git+https://github.com/meet-minimalist/yf_cache.git
